.footer{
    font-size: 16px;
    line-height: 20px;
    display: grid;
    background-color: var(--primary);
    grid-template-columns: 1fr auto auto;
    justify-content: center;
    gap: 15px 40px;
    padding: 25px 30px;
    color: var(--white);
}

.footer a:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--gray-light);
}

@media (max-width:765px){
    .footer{
        grid-template-columns: 1fr;
   
    }
   
}